<!DOCTYPE html>
<html lang="ja">
<head>

	<!-- Start meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
	<meta name="description" content="<%= description %>">

	<!-- Start script -->
	<%- include('../common/_priority-script', {path: path}); %>

	<!-- Start stylesheet -->
	<%- include('../common/_stylesheet', {path: path}); %>

</head>

<!-- Start body -->
<body class="<%= pageName %>">

	<!-- Start header -->
	<header id="js-header" class="header">

		<%# logo %>
		<div class="js-inview animation-fade-in header__logo logo">
			<a href="<%= path %>"><img src="<%= path %>img/logo.png" alt="ちょっとピット CHOTTO PIT"></a>
		</div>

	</header>