<div class="service">
  <div class="container">

    <%# background text image %>
    <div class="service__bg-text-wrapper"><img src="<%= path %>img/service-bg-text.png" alt="SERVICE"></div>

    <%# title %>
    <h2 class="service__title">
      <img src="<%= path %>img/service-title.png" alt="サービスの流れ">
    </h2>

    <%# list %>
    <ul class="service__list">

      <li class="service__item">
        <div class="img-wrap">
          <img src="<%= path %>img/service1.png" alt="Service1">
        </div>
        <p class="service__text">
          ユーザーはWebで購入後に、<br>
          取り付け希望店を選択
        </p>
        <div class="service__arrow">
          <img src="<%= path %>img/service-arrow.png" alt="Arrow">
        </div>
      </li>

      <li class="service__item">
        <div class="img-wrap">
          <img src="<%= path %>img/service2.png" alt="Service2">
        </div>
        <p class="service__text">
          商品を取り付け希望店へ直送！<br>
          ※取り付け日時は事前に調整
        </p>
        <div class="service__arrow">
          <img src="<%= path %>img/service-arrow.png" alt="Arrow">
        </div>
      </li>

      <li class="service__item">
        <div class="img-wrap"><img src="<%= path %>img/service3.png" alt="Service3"></div>
        <p class="service__text">
          指定された日時に来店。<br>
          交換取付でスムーズな作業
        </p>
        <div class="service__arrow">
          <img src="<%= path %>img/service-arrow.png" alt="Arrow">
        </div>
      </li>

    </ul>
  </div>
</div>