<div class="service">
  <div class="container">

    <%# background text image %>
    <div class="service__bg-text-wrapper"><img src="<%= path %>img/service-bg-text.png" alt="SERVICE"></div>

    <%# title %>
    <h2 class="js-inview animation-fade-up section__title">サービスの流れ</h2>

    <%# list %>
    <ul class="service__list">

      <li class="service__item">
        <div class="js-inview animation-fade-right-pc animation-fade-up-sm img-wrap" data-delay="200">
          <img src="<%= path %>img/service1.png" alt="Service1">
        </div>
        <p class="js-inview animation-fade-right-pc animation-fade-up-sm service__text" data-delay="400">
          ユーザーはWebで購入後に、<br>
          取り付け希望店を選択
        </p>
        <div class="js-inview animation-fade-right-pc animation-fade-up-sm _arrow service__arrow" data-delay="600">
          <img src="<%= path %>img/service-arrow.png" alt="Arrow">
        </div>
      </li>

      <li class="service__item">
        <div class="js-inview animation-fade-right-pc animation-fade-up-sm img-wrap" data-delay="800">
          <img src="<%= path %>img/service2.png" alt="Service2">
        </div>
        <p class="js-inview animation-fade-right-pc animation-fade-up-sm service__text" data-delay="1000">
          商品を取り付け希望店へ直送！<br>
          ※取り付け日時は事前に調整
        </p>
        <div class="js-inview animation-fade-right-pc animation-fade-up-sm _arrow service__arrow" data-delay="1200">
          <img src="<%= path %>img/service-arrow.png" alt="Arrow">
        </div>
      </li>

      <li class="service__item">
        <div class="js-inview animation-fade-right-pc animation-fade-up-sm img-wrap" data-delay="1400">
          <img src="<%= path %>img/service3.png" alt="Service3">
        </div>
        <p class="js-inview animation-fade-right-pc animation-fade-up-sm service__text" data-delay="1600">
          指定された日時に来店。<br>
          交換取付でスムーズな作業
        </p>
        <div class="js-inview animation-fade-right-pc animation-fade-up-sm _arrow service__arrow" data-delay="1800">
          <img src="<%= path %>img/service-arrow.png" alt="Arrow">
        </div>
      </li>

    </ul>
  </div>
</div>